ITAU_AGENCY=0000
ITAU_ACCOUNT=00000
ITAU_ACCOUNT_DIGIT=0
ITAU_PASSWORD=000000
ITAU_HOLDER_NAME=

PYITAU_AUTHENTICATE=
PYITAU_GET_STATEMENTS=
PYITAU_GET_STATEMENTS_FROM_MONTH=
PYITAU_GET_CREDIT_CARD_INVOICE=
